<div>
    <h1 class="text-center">
        RESTRICTED JURISDICTIONS:
        <img class="right" src="~icons/cross_icon.svg" (click)="closeDialog()"></h1>
</div>
<div class="text-justify">
    <p class="dist ">
        You must not acquire TABU tokens if you are a citizen or resident (tax or otherwise) in any of the following countries: United States of America (including green card holders); mainland China (excluding citizens or residents of Hong Kong); Republic of
        South Africa; Cayman Islands; Bangladesh, Democratic Republic of Korea; Iran; Afghanistan; Syria; Yemen; Ethiopia; Iraq; Ecuador; Bosnia Herzegovina, Russia, Argelia, Bolivia, Vietnam, Indonesia, Kyrgyzstan, Lebanon, Morocco, Namibia, Nepal, Pakistan
        and any other countries where ICOs are banned.
    </p>

</div>

<div class="dist text-center">
    <button class="btn-inverse" (click)="closeDialog()">OK</button>
</div>